.beton-features-main_h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}
.beton-features-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 90px;
}
.main_small {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 40px;
}
.beton-features-text {
  font-size: 18px;
  font-weight: 400;
  max-width: 780px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding: 10;
}
.beton-features-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  flex-direction: row-reverse;
}
.beton-features-image {
  width: 700px;
  height: 500px;
  margin-right: 80px;
}
.beton-features-description {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 40px;
  max-width: 550px;
}
.beton-features-name {
  margin-bottom: 40px;
  font-size: 18px;
}
.beton-features-name-header {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.beton-features-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}
.beton-features-fit-cover {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1200px) {
  .beton-features-header {
    flex-direction: column;
  }

  .beton-features-description {
    margin-right: 30px;
    height: fit-content;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .beton-features-body {
    flex-direction: column-reverse;
    margin-bottom: 90px;
  }
  .beton-features-image {
    display: contents;
  }
}

@media screen and (max-width: 450px) {
  .beton-features-body {
    flex-direction: column-reverse;
  }
  .beton-features-main_h1 {
    font-size: 26px;
    margin-bottom: 25px;
  }
  .beton-features-text {
    font-size: 14px;
    margin-right: 30px;
    line-height: 25px;
  }
  .beton-features-header {
    margin-bottom: 60px;
  }
  .beton-features-image {
    max-width: 90%;
    height: auto;
    margin-bottom: 30px;
  }
  .beton-features-name-header {
    font-size: 22px;
  }
  .beton-features-name {
    margin-bottom: 20px;
  }
  .beton-features-body {
    margin-bottom: 80px;
  }
  .beton-features-description {
    margin-bottom: 20px;
  }
}
