.beton-business-term {
  margin-top: 200px;
}

.beton-business-term-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}

.beton-business-term-text-big {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

.beton-business-term-text {
  font-size: 18px;
  font-weight: 400;
}

.beton-business-term-body {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.beton-business-term-body-in {
  width: 1260px;
  display: flex;
  justify-content: space-between;
}

.term-item-body {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
}

.term-item-header {
  padding: 18px 0px;
  text-align: center;
  color: #fff;
  width: 100px;
  height: 100px;
  background-color: #000;
  margin-bottom: 25px;
}

.term-item-header-number {
  font-size: 40px;
  font-weight: 700;
}

.term-item-header-text {
  font-size: 21px;
  font-weight: 400;
}

.term-item-body-li {
  background-color: #f9fafa;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  width: fit-content;
  height: 60px;
  margin: 0 0 20px 30px;
  text-align: center;
  padding: 22px 25px;
}

.term-item-body-li span {
  font-size: 21px;
  font-weight: 500;
  margin: -2px 5px 0 0;
}

.term-item-group {
  display: flex;
  margin-left: 5px;
}

.beton-business-regions-body {
  margin: 90px 0 200px 0;
}

.beton-business-regions-text {
  font-size: 18px;
  font-weight: 400;
}

.beton-business-regions-body {
  display: flex;
  justify-content: space-between;
}

.regions-item-header {
  font-size: 30px;
  font-weight: 700;
}

.regions-item {
  height: 360px;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 50px;
  background-color: #f9fafa;
}

.regions-item-li-city {
  font-size: 20px;
  font-weight: 500;
}

.regions-item-li-time {
  color: #cacaca;
  font-size: 18px;
  font-weight: 400;
}

.regions-item-li {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.term-item-mobile {
  display: none;
}
@media screen and (max-width: 1200px) {
  .business-header-body {
    flex-direction: column;
  }
  .business-clients {
    margin-top: 0 !important;
  }
  .business-section-text-clients {
    margin-left: 0 !important;
  }
  .beton-business-regions-body {
    flex-wrap: wrap;
  }
  .regions-item {
    width: calc(100% / 1 - 0rem);
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 450px) {
  .beton-business-term-header .beton-business-term-text-big {
    margin-left: 0;
  }
  .business-header-body {
    display: none;
  }
  .business-header-body {
    flex-direction: column;
  }
  .beton-business-term {
    margin-bottom: 90px;
  }
  .beton-business-term-text-big {
    font-size: 26px;
    margin-left: 30px;
  }
  .beton-business-term-header {
    align-items: baseline;
    margin-bottom: 40px;
  }
  .beton-business-term-body {
    display: none;
  }
  .contacts-map-header {
    display: flex !important;
    justify-content: space-between;
    margin: 0 30px 0 0;
  }
  .beton-business-term {
    margin-top: 90px;
  }
  .term-item-header {
    border: none;
    width: 70px;
    height: 70px;
    padding: 8px 0px;
    margin-bottom: 40px;
  }
  .beton-business-term-text {
    font-size: 14px;
  }
  .term-item-header-number {
    font-size: 25px;
  }
  .term-item-header-text {
    font-size: 16px;
  }
  .term-item-mobile {
    background-color: #f9fafa;
    margin: 0 80px 0 50px;
    padding: 20px 8px;
    display: block;
  }
  .beton-business-regions-text {
    font-size: 14px;
    margin-top: 10px;
  }

  .term-item-body-li {
    width: auto;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 35px;
  }
  .term-item-body-li span {
    font-size: 18px;
  }

  .beton-business-regions-body {
    margin: 40px 0 90px -30px;
  }
  .regions-item {
    padding: 35px 30px;
  }
  .regions-item-header {
    font-size: 21px;
  }
  .regions-item-li-city {
    font-size: 16px;
  }
  .regions-item-li-time {
    font-size: 16px;
  }
  .business-section-header {
    font-size: 26px !important;
  }
}

.inactive {
  border: 2px solid black;
  background-color: white;
  color: black;
}
.beton-business-term-header {
  display: flex !important;
}

.contacts-map-header {
  display: none;
}
.hide {
  display: none;
}

@media screen and (max-width: 1100px) {
  .business-clients {
    display: none;
  }
  .business-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .beton-business-regions-body {
    margin: 90px -30px 200px -30px;
  }
  .regions-item {
    margin: 0 30px;
  }
}

@media screen and (min-width: 450px) and (max-width: 1100px) {
  .busineess-mobile-item {
    padding: 30px 70px 0 30px;
    margin: 0 -30px;
  }
  .busineess-mobile-item {
    height: 250px;
  }
}
