.beton-benches-main_h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}
.main_small {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 40px;
}
.beton-benches-text {
  font-size: 18px;
  font-weight: 400;
  max-width: 880px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding: 10;
}
.beton-benches-group {
}

.beton-benches-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  flex-direction: row-reverse;
}
.beton-benches-main-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 90px;
}
.beton-benches-main-image {
  width: 1000px;
  height: 430px;
}

.beton-benches-image {
  width: 800px;
  height: 600px;
}

.beton-benches-image-wrapper-row {
  display: flex;
  flex-direction: row;
}
.beton-benches-image-wrapper-column {
  display: flex;
  flex-direction: column;
}
.beton-benches-image-row {
  width: 380px;
  height: 600px;
  margin-left: 40px;
  display: flex;
}
.beton-benches-image-column {
  width: 380px;
  height: 280px;
  display: flex;

  margin-bottom: 40px;
}

.beton-benches-description {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 40px;
  max-width: 600px;
}
.beton-benches-name {
  margin-bottom: 40px;
  font-size: 18px;
}
.beton-benches-name-header {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.beton-benches-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}
.beton-benches-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.beton-benches-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 90px;
}
.beton-benches {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 45px;
}

.beton-benches a {
  border-bottom: 3px solid black;
  padding-bottom: 4px;
}

.beton-benches img {
  position: absolute;
  cursor: pointer;
  margin: -5px 0px 0px 0px;
}

.beton-benches a {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-right: 35px;
}

.beton-benches-about {
  font-size: 18px;
  font-weight: 400;
}

.beton-benches-about-text {
  margin-bottom: 26px;
  line-height: 30px;
  text-align: left;
}
.button-beton_benches {
  display: none;
  font-size: 14px;
  font-weight: 600;
  padding-left: 30px;
  text-align: center;
}

.beton-benches-image-row-mobile {
  display: flex;
}

@media screen and (max-width: 1100px) {
  .beton-benches-image-row-tablet {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .beton-benches-header {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .main_h1_single {
    margin-left: 0px !important;
  }
  .main_h1 {
    margin-left: 0px !important;
  }

  .beton-benches-text {
    font-size: 14px;
    line-height: 25px;
    margin-right: 30px;
  }

  .beton-benches-palete {
    margin-top: 0px !important;
  }
  .beton-benches {
    margin-right: 30px;
    margin-bottom: 40px;
  }

  .beton-benches-body {
    flex-direction: column;
    flex-direction: column-reverse;
    margin-bottom: 90.5px;
  }
  .beton-benches-description {
    margin-bottom: 30px;
  }
  .beton-benches-image {
    height: auto;
    margin-left: -30px;
    width: 100%;
  }
  .beton-benches-image-column {
    width: 450px;
    height: auto;
  }
  .beton-benches-main-image-wrapper {
    height: auto;
    margin-left: -30px;
  }
  .beton-benches-main-image {
    width: 450px;
  }
  .beton-benches-name-header {
    font-size: 21px !important;
    line-height: 30px;
  }
  .beton-benches-name {
    margin-top: 90px;
    margin-bottom: 20px;
  }
  .beton-benches-about-text {
    font-size: 14px;
    line-height: 25px;
    margin-right: 30px;
    margin-bottom: 20px;
  }

  .beton-benches-image-row-mobile {
    display: none;
  }
  .button-beton_benches {
    display: flex;
  }
  .button-beton_benches--center {
    margin: 0 auto;
    margin-top: 10px;
  }
}
