.beton-forms-item {
  width: calc(100% / 4 - 4rem);
}

@media screen and (max-width: 1200px) {
  .business-header-body {
    flex-direction: column;
  }
  .business-section-text-clients {
    margin-left: 0;
  }
  .business-section-text-clients {
    margin-top: 30px;
  }
}
