.product-card__popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.9);
  padding: 126px 210px 126px 210px;
  overflow-y: auto;
}

.product-card__popup__wrapper {
  /* width: 1500px; */
  display: flex;
  background: #fff;
  justify-content: center;
}

.product-card-popup__container-main {
  padding: 50px 80px 50px 80px;
  width: 100%;
  height: 100%;
}
.product-card-popup__close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 130px !important;
  right: 185px !important;
  z-index: 50;
  background: url(../img/icons/popup-cross.svg) center no-repeat;
  cursor: pointer;
}

.product-card__popup__content {
  position: relative;
  background: blue;
  width: 100%;
  height: max-content;
  max-width: 60rem;
  padding: 8rem 2rem;
  position: relative;
}

.product-card-popup__wrapper-main {
  display: flex;
  flex-direction: row;
}
.product-card-popup__mainInfo {
  margin-bottom: 40px;
}
.product-card-popup-fit-cover {
  width: 100%;
  object-fit: cover;
}

[data-popup] {
  cursor: pointer;
}

.popup__form {
  width: 100%;
  max-width: 36rem;
  margin: 0 auto;
}
.popup__form .button {
  margin-top: 6rem;
}
.product-card-popup__wrapper-title {
  margin-bottom: 40px;
}
.product-card-popup__title {
  font-size: 21px;
  font-weight: 400;
  max-width: 202px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 10px;
}
.product-card-popup__sub-title {
  font-size: 30px;
  font-weight: 700;
  max-width: 132px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.product-card-popup__info-title {
  font-size: 18px;
  font-weight: 500;
  max-width: 33px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 10px;
}
.product-card-popup__info-title-colors {
  font-size: 18px;
  font-weight: 500;
  max-width: 33px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 10px;
  margin-left: -15px;
}
.product-card-popup__info-subtitle {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.product-card-popup__wrapper-form {
  margin-bottom: 40px;
}
.product-card-popup__form-title {
  font-size: 18px;
  font-weight: 500;
  max-width: 66px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 15px;
}

.product-card-popup__name {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

/* .product-card-popup .product-card__popup__content {
  max-width: 110rem;
  padding: 0;
} */

.product-card-popup__container {
  display: flex;
}
.product-card-popup__container-image {
  width: 100%;
  /* max-width: 48rem; */
}
.product-card-popup__wrapper-mainInfo {
  /* display: flex; */
  width: 100%;
  height: 100%;
}

.product-card-popup__custom-select {
  position: relative;
  width: 290px;
  display: flex;
  align-items: center;
  height: 55px;
  border: 1px solid #cacaca;
}
.product-card-popup__custom-select__input {
  display: none;
}
.product-card-popup__custom-select__main {
  display: flex;
  align-items: center;
  padding-left: 30px;
  cursor: pointer;
  font-size: 1.8rem;
  justify-content: space-between;
}
.product-card-popup__custom-select__main .color {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 2rem;
  flex-shrink: 0;
}
.product-card-popup__custom-select__main::after {
  content: "";
  display: block;
  margin-left: 1.4rem;
  width: 1rem;
  height: 1rem;
  background: url(../img/icons/menu-arrow.svg) center no-repeat;
  transition: 0.3s;
  position: absolute;
  right: 2rem;
}
.product-card-popup__custom-select__main.open::after {
  transform: rotate(-180deg);
}
.product-card-popup__custom-select__main.open
  + .product-card-popup__custom-select__select {
  display: block;
}
.product-card-popup__custom-select__select {
  width: 100%;
  position: absolute;
  top: 100%;
  height: 18rem;
  background: #fff;
  overflow: auto;
  border-top: 1px solid #000;
  display: none;
  padding-bottom: 2rem;
}
.product-card-popup__custom-select__select-item {
  display: flex;
  align-items: center;
  padding: 1rem 2.5rem;
  cursor: pointer;
  font-size: 1.8rem;
  position: relative;
}
.product-card-popup__custom-select__select-item .color {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 2rem;
  flex-shrink: 0;
}
.product-card-popup__texture-image-container {
  margin-right: 10px;
}

.product-card-popup__texture-and-image-wrapper {
  display: flex;
  flex-direction: row;
}
.product-card-popup__texture-container {
  margin-right: 185px;
}
.product-card-popup__texture-text {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 15px;
}

.product-card-popup__texture-image-wrapper {
  display: flex;
  flex-direction: row;
}
.product-card-popup__texture-image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.product-card-popup__texture-image-text {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  text-align: center;
}

.product-card-popup__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -210px;
}
.product-card-popup__palete-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card-popup__image {
  margin-right: 100px;
  display: flex;
  height: 500px;
  margin-bottom: 52px;
}
.product-card-popup__palete-image {
  width: 270px;
  height: 377px;
  background-color: green;
}

.beton-benches-fit-cover {
  width: 100%;
  height: auto;
}

.product-card-popup__fit-cover-colors {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.product-card-popup__additional-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-card-popup__additional-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.product-card-popup__additional-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.product-card-popup-palete {
  margin-top: 100px;
  margin-right: 15px;
  height: 380px;
  width: 310px;
}

.product-card-popup-palete__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -2rem;
  margin-top: 10px;
}
.product-card-popup-palete__wrapper-default {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.product-card-popup-palete__wrapper-item {
  width: calc(100% / 4 - 1rem);
  margin: 5px;
}

.product-card-popup-palete__wrapper-item-image {
  width: 60px;
  height: 60px;
}
.product-card-popup-palete__wrapper-item-name {
  font-size: 20px;
  font-weight: 400;
}

.product-card-popup-palete__wrapper-item.texture
  .product-card-popup-palete__wrapper-item-image {
  aspect-ratio: 42 / 25;
}
.product-card-popup-palete-fix {
  margin: 0;
}
.product-card-popup-palete-fit-cover-colors {
  width: 100%;
  height: 60px;
  object-fit: cover;
  object-position: center;
}

.product-card-popup__additional-info-cost {
  font-size: 28px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  text-align: center;
  margin-right: 40px;
}
.product-card-popup__additional-info-taxes {
  margin-right: 30px;
  min-width: 100px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  color: #cacaca;
  opacity: 1;
  text-align: center;
}

.product-card-popup__additional-info-share-wrapper {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  text-align: center;
  margin-right: 40px;
  padding: 0;
  border: none;
  background: none;
}
.product-card-popup__additional-info-share {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 18px;
}
.product-card-popup__additional-info-consultation-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 60px;
  width: 300px;
}
.product-card-popup__additional-info-consultation-wrapper-btn {
  padding: 0;
  border: none;
  background: none;
}
.product-card-popup__additional-info-consultation {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-align: center;
}
.product-card-popup__additional-info-share-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fafa;
  height: 60px;
  width: 300px;
}
.product-card-popup-palete.textures-palete {
  margin-bottom: 7rem;
}
.product-card-popup-palete__wrapper-item.texture {
  width: calc(100% / 4 - 4rem);
}

.hidden-product-card-popup-palete {
  display: none;
}
.open-hidden-product-card-popup-palete.hidden {
  display: none;
}
.hidden-product-card-popup-colors-palete-wrapper {
  display: none;
}
.product-card-popup-palete__wrapper-hidden {
  margin-bottom: 20px;
}

@media screen and (max-width: 1400px) {
  .product-card-popup__texture-and-image-wrapper {
    flex-direction: column;
  }
  .product-card-popup__image-wrapper {
    justify-content: flex-end;
    margin-top: 22px !important;
  }
  .product-card-popup__image {
    margin-right: 40px;
    margin-left: 100px;
  }
}
@media screen and (max-width: 1100px) {
  .product-card-popup__texture-and-image-wrapper {
    flex-direction: column-reverse;
  }

  .product-card-popup__container-main {
    padding: 50px 80px 50px 30px;
  }

  .product-card-popup__wrapper-main {
    flex-direction: column;
  }
  .product-card-popup__image-wrapper {
    display: block;
  }
  .product-card-popup__additional-info-wrapper {
    flex-direction: column;
  }
  .product-card-popup__additional-info {
    flex-direction: column;
  }
  .product-card-popup__additional-info-share-wrapper {
    margin-right: 0px !important;
  }
  .product-card-popup__additional-info-wrapper {
    margin-top: 60px;
  }
  .product-card-popup-palete {
    height: auto;
  }
  .product-card-popup__additional-info-container {
    justify-content: flex-start;
    margin-bottom: 40px;
  }
  .product-card-popup__additional-info {
    align-items: flex-start;
  }
  .product-card-popup__additional-info-consultation-wrapper-btn {
    margin-top: 10px;
  }
  .product-card-popup__image {
    width: auto;
    height: 300px;
    margin-bottom: 52px;
    margin-left: -30px;
    margin-right: -80px;
  }
}

@media screen and (max-width: 1024px) {
  .product-card-popup-palete__wrapper {
    margin: -1rem;
  }
  .product-card-popup-palete__wrapper-default {
    margin: 0rem;
  }
  .product-card-popup-palete__wrapper-item.texture {
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
  }
  .product-card-popup-palete__wrapper-item {
    width: calc(100% / 4 - 2rem);
    margin: 1rem;
  }
}
@media screen and (max-width: 780px) {
  .product-card-popup-palete {
    margin-bottom: 7rem;
  }
  .product-card-popup-palete.textures-palete {
    margin-bottom: 4rem;
  }
  .product-card-popup-palete__wrapper-item.texture {
    width: calc(100% / 2 - 2rem);
    margin: 1rem;
  }
  .product-card-popup-palete__wrapper-item {
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
  }
  .product-card-popup__info-title-colors {
    margin-left: 0px;
  }
}

@media screen and (max-width: 500px) {
  .product-card-popup__close {
    right: 36px !important;
  }
  .product-card-popup-palete {
    margin-bottom: 4rem;
  }
  .product-card-popup-palete__wrapper-item-name {
    font-size: 1.8rem;
  }
  .product-card-popup-palete__wrapper-item {
    width: calc(100% / 2 - 2rem);
    margin: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .product-card-popup-palete__wrapper-item {
    width: calc(100% / 4 - 2rem);
  }
  .product-card-popup__texture-and-image-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .product-card-popup__image-wrapper {
    margin-top: 0px !important;
  }
  .product-card-popup__title {
    font-size: 16px;
  }
  .product-card-popup__sub-title {
    font-size: 21px;
  }
  .product-card-popup__form-title {
    font-size: 16px;
  }
  .product-card-popup__info-subtitle {
    font-size: 14px;
  }
  .product-card-popup__texture-text {
    font-size: 16px;
  }
  .product-card-popup__texture-image-text {
    font-size: 14px;
  }
  .product-card-popup__info-title-colors {
    font-size: 16px;
  }
  .product-card-popup__additional-info-cost {
    font-size: 20px;
  }
  .product-card-popup__additional-info-taxes {
    font-size: 16px;
  }
  .product-card-popup__additional-info-share-wrapper {
    font-size: 14px;
  }
  .product-card-popup__additional-info-consultation {
    font-size: 14px;
  }
  .default-product-card-popup-palete {
    display: none;
  }
  .hidden-product-card-popup-colors-palete-wrapper {
    display: flex;
  }
  .hidden-product-card-popup-palete {
    width: 310px;
  }
  .product-card-popup-palete {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .popup {
    padding: 80px 20px !important;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1250px) {
  .product-card-popup__additional-info-cost {
    min-width: 220px;
  }
  .product-card-popup__additional-info-consultation-wrapper {
    width: 220px;
  }
  .product-card-popup__additional-info-consultation {
    font-size: 15px;
  }
  .product-card-popup__additional-info-share-item {
    width: 240px;
  }
  .product-card-popup__additional-info-share {
    font-size: 15px;
  }
}

.product-card-popup__custom-select__main.open
  + .product-card-popup__custom-select__select {
  margin-left: 0;
  border: 1px solid #cacaca;
}
