.beton-product-cards-section-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -2rem -2rem 200px -2rem;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  width: calc(100% / 4 - 4rem);
  height: 470px;
  background-color: #f9fafa;
  margin: 2rem;
}
.product-card {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.product-card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-card-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-card-title {
  font-size: 21px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 5px;
}
.product-card-title-image {
  width: 60px;
  height: 20px;
  margin-bottom: 5px;
}
.product-card-subtitle {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #9f9f9f;
  margin-bottom: 56px;
}
.product-card-subtitle-image-text {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 56px;
}
.product-card-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card-image {
  display: flex;
  width: 250px;
  height: 215px;
  margin-bottom: 35px;
}
.product-card-info1 {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 15px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.product-card-info2 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

@media screen and (max-width: 1400px) {
  .product-card-container {
    width: calc(100% / 3 - 4rem) !important;
  }
}
@media screen and (max-width: 1100px) {
  .product-card-container {
    width: calc(100% / 3 - 4rem) !important;
  }
  .product-card-info2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  .product-card-container {
    width: calc(100% / 2 - 4rem) !important;
  }
}

@media screen and (max-width: 600px) {
  .product-card-container {
    width: calc(100% / 1 - 4rem) !important;
    margin: 1rem 2rem 1rem 2rem !important;
  }
  .product-card-title {
    font-size: 18px !important;
  }
  .product-card-container {
    height: 440px;
  }
  .product-card-subtitle {
    font-size: 14px !important;
    margin-bottom: 40px;
  }
  .product-card-image {
    margin-bottom: 40px;
  }
  .product-card-info1 {
    font-size: 14px !important;
  }
  .product-card-info2 {
    font-size: 21px !important;
  }
  .product-card-image {
    width: 250px;
    height: 200px;
  }
}
